<!--<div *ngIf="this.day==today then>-->
<!-- <div class="col-md-12">
    <h3 *ngIf="test=='Day'">
        {{ todaydate | date:'yyyy-MM-dd' }}
    </h3>
    <h3 *ngIf="test=='Year'">
        {{ year }}
    </h3>
</div> -->
<div class="row">
    <form #form="ngForm">
        <div class="btn btn-group col-lg-3">
            <button class="btn btn-info" #Year value="Year" (click)="test='year'; setbutton('Year')">Year</button>
            <button class="btn btn-info" #Month value="Month" (click)="test='Month'; setbutton('Month')">Month</button>
            <button class="btn btn-info" #Day value="Day" (click)="setbutton('Day')">Day</button>
        </div>

        <div *ngIf="isSelected('Year') || isSelected('Month') ">
            <app-year-picker *ngIf="isSelected('Year') || isSelected('Month') " class="col-lg-2" name="year" (change)="onYearChange($event.target.value)"></app-year-picker>
            <app-month-picker *ngIf="isSelected('Month')" name="month" class="col-lg-2" (change)="onMonthChange($event.target.value)"></app-month-picker>
        </div>
        <div *ngIf="isSelected('Day')">
            <my-date-picker name="day" class="col-lg-3" [options]="myDatePickerOptions" placeholder="{{today | date:'yMd' }}" (dateChanged)="onDateChanged($event)"></my-date-picker>
        </div>
        <input *ngIf="role=='Management' && report" type="button" (click)="back()" class="btn btn-xs btn-danger btn-padding pull-right col-md-1 btn-square"
            value="Back" style="left:-19px;" />
        <button class="btn btn-xs btn-default btn-padding pull-right col-md-1 btn-square" name="submit" (click)="getEmployeeData()"
            value="Submit" style="left:-25px;">Submit</button>
    </form>
</div>
<div class="clearfix"></div><br/>
<div *ngIf="Dean && (role=='Dean' || role=='Management') " class="">
    <div class="row">
        <div *ngFor="let clg of Clgdata" class="col-sm-3">
            <div (click)="College(clg.name)" class="portlet portlet-default">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>{{clg.name}}</h4>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="portlet-body">
                    <div class="form-group">
                        <div class="col-sm-9">
                            <h4> Leaves status</h4>
                        </div>
                        <div class="col-sm-3">
                            <h4><span class="badge blue">{{clg.y}}</span></h4>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div *ngIf="principal" style="padding-bottom: 25px;">

    <table>
        <tbody>
            <tr class="topstats clearfix">
                <td *ngFor="let dpt of Deptdata" class="li-padding right-border" style="text-align: center;">
                    <span class="title"><i class="fa fa-user"></i> <strong>{{dpt.department}}</strong></span>
                    <h3 style="text-align: center;" [ngClass]="(depttype==dpt.department) ? 'color-up':'title1'">{{dpt.y}}</h3>
                    <span class="diff" style="text-align: center;"><b class="color-down"><a (click)="reports(dpt.department)" style="text-align: center;">View More <i class="fa fa-caret-down"></i></a></b></span>
                </td>
                <td class="li-padding" style="text-align: center;">
                    <span class="title"><i class="fa fa-users"></i> <strong> Total Leaves </strong></span>
                    <h3 style="text-align: center;" [ngClass]="(depttype=='ALL') ? 'color-up':'title1'">{{totaldept}}</h3>
                    <span class="diff" style="text-align: center;"><b class="color-down"><a (click)="reports('ALL')" style="text-align: center;">View More <i class="fa fa-caret-down"></i></a></b></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="report">
    <div class="row">
        <div class="col-xs-12">
            <div class="portlet portlet-default">
                <div class="portlet-heading">
                    <div class="portlet-title">

                        <h4>
                            <strong *ngIf="role=='Management'">{{college}} Leaves   </strong> {{ tablename}}
                        </h4>
                    </div>
                    <div class="portlet-widgets">
                        <input class="form-control" name="filter" placeholder=" Search" [(ngModel)]="filterQuery" />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered dt-responsive nowrap table-green" [mfData]="details| dataFilter : filterQuery"
                        #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="firstname">Name</mfDefaultSorter>
                                </th>
                                <th *ngIf="role!='Principal'">
                                    <mfDefaultSorter by="college">College</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="department">Department</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="type_of_leave">Leave Type</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="from_date">From</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="to_date">To</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="days">Days</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="reason">Reason</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="alternateId">Altr Person</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="name">Status</mfDefaultSorter>
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngIf="mf.data.length != 0">
                            <tr *ngFor="let items of mf.data">
                                <td>{{items.firstname}}</td>
                                <td *ngIf="role!='Principal'">{{items.college}}</td>
                                <td>{{items.department}}</td>
                                <td>{{items.type_of_leave}}</td>
                                <td>{{items.from_date | date:'yyyy-MM-dd' }} <span *ngIf="items.from_date|fromhalf; let aVariable"
                                        [ngClass]="(aVariable=='1st Half') ? 'label label-primary label2':'label label-warning label2'">{{items.from_date|fromhalf}}</span></td>
                                <td>{{items.to_date | date:'yyyy-MM-dd' }} <span *ngIf="items.to_date|tohalf; let aVariable"
                                        [ngClass]="(aVariable=='1st Half') ? 'label label-primary label2':'label label-warning label2'">{{items.to_date|tohalf}}</span></td>
                                <td>{{items.days}}</td>
                                <td><span tooltipPlacement="top" tooltip="{{items.reason}}">{{items.reason | slice:0:10}}..</span></td>
                                <td *ngIf="items.alternateStatus=='Pending' && items.Altername!=''"><span tooltipPlacement="top" tooltip="{{items.Altername}}">
                        {{items.Altername |  slice:0:7 }}..</span> <span tooltipPlacement="top" tooltip="Pending" class="badge blue "
                                        style="float:right"> p </span></td>
                                <td *ngIf="items.alternateStatus=='Pending' && items.Altername==''">
                                    <span tooltipPlacement="top" tooltip="{{items.Altername}}">
                        {{items.Altername |  slice:0:7 }}..</span> </td>
                                <td *ngIf="items.alternateStatus=='Accepted' && items.Altername!=''">
                                    <span tooltipPlacement="top" tooltip="{{items.Altername}}">
                        {{items.Altername |  slice:0:7 }}..</span> <span tooltipPlacement="top"
                                        tooltip="Accepted" class="badge green " style="float:right"> <i class="fa fa-check" style="font-size:9px"></i> </span></td>
                                <td *ngIf="items.alternateStatus=='Accepted' && items.Altername==''">
                                    <span tooltipPlacement="top" tooltip="{{items.Altername}}">
                        {{items.Altername |  slice:0:7 }}..</span> </td>
                                <td *ngIf="items.alternateStatus=='Rejected' && items.Altername!=''">
                                    <span tooltipPlacement="top" tooltip="{{items.Altername}}">
                        {{items.Altername |  slice:0:7 }}..</span> <span tooltipPlacement="top"
                                        tooltip="Rejected" class="badge red" style="float:right"> <i class="fa fa-times" aria-hidden="true"></i> </span></td>
                                <td *ngIf="items.alternateStatus=='Rejected' && items.Altername==''">
                                    <span tooltipPlacement="top" tooltip="{{items.Altername}}">
                        {{items.Altername |  slice:0:7 }}..</span> </td>
                                <td *ngIf="role != 'Dean' && role != 'Principal' && role !='Management' &&  items.alternateStatus==''"> {{items.Altername }} </td>
                                <td *ngIf="items.status=='Accepted'"><span class="label label-success label2">{{items.status}}</span></td>
                                <td *ngIf="items.status=='Rejected'"><span class="label label-danger label2">{{items.status}}</span></td>
                                <td *ngIf="items.status=='Pending'"><span class="label label-primary label2">{{items.status}}</span></td>
                                <td *ngIf="items.status=='Alternate Suggestion'"><span class="label label-warning label2">Suggestion</span></td>
                                <td *ngIf="items.status=='Cancelled'"><span class="label label-warning label2">{{items.status}}</span></td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="mf.data.length == 0">
                            <tr rowspan="2">
                                <td colspan="12">
                                    <h4 *ngIf="mf.data.length == 0" class="text-center"> No Data found</h4>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot colspan="13">
                            <tr>
                                <td colspan="13">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,12]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>