<div class="row">
    <div class="col-md-12">
        <!-- <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    Employes Leaves Snapshot
                </div>
            </div>
            <div class="panel-body"> -->
        <div class="portlet portlet-default">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>Employes Leaves Snapshot</h4>
                </div>
                 <div class="portlet-widgets">
                      <form #form="ngForm">
                    <input class="form-control" name="filter" placeholder=" Search" [(ngModel)]="filterQuery" />
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="portlet-body">
            <table id="employee" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
                [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" class="table table-striped table-bordered dt-responsive nowrap table-green"
                cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th *ngFor="let col of columns">
                            <mfDefaultSorter by="type">
                                {{col}}
                            </mfDefaultSorter>
                        </th>
                      
                    </tr>
                </thead>
                <tbody *ngIf="mf.data.length != 0">
                    <tr *ngFor="let details of  mf.data">
                        <td *ngFor="let d of details">{{d}}</td>
                      
                    </tr>
                </tbody>
                <tbody *ngIf="mf.data.length == 0">
                    <tr rowspan="2">
                        <td colspan="12">
                            <h4 *ngIf="mf.data.length == 0" class="text-center"> No Data found</h4>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="14">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,12]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>

            </table>
        </div>
    </div>
</div>