/* .table {
    width: 66% !important ;
    max-width: 60% !important;

}
.table {
  
    margin-left: 22% !important;
} */
.form-control {
    padding: 8px 6px !important;
}
/* .ng2-opd-popup-content-main{
    margin-left: 150px !important;
} */